@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;

}

.header{
    background-color: #91c593;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    position: sticky;
    z-index: 1000;
    top: 0;
}

#botones-login{
    visibility: hidden;
}

/*----- Logo -----*/
.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}
.header .logo img{
    cursor: pointer;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.2);
}

.header .nav-links a{
    font-size: 700;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/*----- Boton carrito -----*/
.header .nav-links li a:hover{
    color: #5bad4b;
}

.header .btn button{
    font-weight: 700;
    color: #6fbd72;
    padding: 9px 25px;
    background: #558a65;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #295f42;
    color: #6fbd72;
    scale: 1.2;

}