/*----- carrusel -----*/
#contenedor-item-carrusel {
    border: none;
    width: 90%;
    height: 300px;
    max-width: 600px;
    overflow: hidden;
    object-position: top center;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.tarjeta-carrusel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.item-carrusel {
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.tarjeta-carrusel {
    background-color: white;
    height: 100%;
}

.item-carrusel.active {
    z-index: 1;
    opacity: 1;
}

/*----- flechas carrusel -----*/
.flechas-carrusel {
    background-color: transparent;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}


.flechas-carrusel i {
    color: rgb(255, 255, 255);
    opacity: 0.5;
    cursor: pointer;
}

.flechas-carrusel i:hover,
.flechas-carrusel i:active {
    color: rgb(141, 165, 136);
}

.flechas-carrusel i {
    pointer-events: all;
    font-size: 2rem;
}

#tarjeta-carrusel-1 { 
    background-color: green;
}
#tarjeta-carrusel-2 { 
    background-color: rgb(43, 53, 97);
}
#tarjeta-carrusel-3 { 
    background-color: rgb(157, 168, 58);
}
#tarjeta-carrusel-4 { 
    background-color: rgb(67, 167, 224);
}
#tarjeta-carrusel-5 { 
    background-color: rgb(146, 60, 127);
}