*::after,
*::before
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*----- estilo de los items -----*/
.contenedor-item{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    flex: 1;
}

.producto{
    border-radius: 10px;
}

.producto:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.producto img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.producto figure{
    overflow: hidden;
}
.producto:hover img{
    transform: scale(1.2);
}

/*----- estilo de informacion producto y boton -----*/
.info-producto{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.info-producto button{
    border: none;
    background: none;
    background-color: black;
    color: white;
    padding: 15px 10px;
    cursor: pointer;
}

/*  */

