*::after,
*::before
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-catalogo{
    margin: 0 auto;
    max-width: 1200px;
    font-family: sans-serif;
    color: black;
    
}

/*----- estilo del carrito -----*/
.icono-carrito{
    width: 40px;
    height: 40px;
    stroke: #000;
}

/*----- contador de productos -----*/
.cont-productos{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.contenedor-productos-carrito{
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    width: 400px;
    z-index: 1;
}

.container-icon{
    position: relative;
}

img{
    max-width: 100%;
    cursor: pointer;
}

/*----- estilo de los items -----*/
.contenedor-item{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    flex: 1;
}

.producto{
    border-radius: 10px;
}

.producto:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.producto img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.producto figure{
    overflow: hidden;
}
.producto:hover img{
    transform: scale(1.2);
}

/*----- estilo de informacion producto y boton -----*/
.info-producto{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-producto button{
    border: none;
    background: none;
    background-color: black;
    color: white;
    padding: 15px 10px;
    cursor: pointer;
}

/*  */

