html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-image: url('../img/Fondo_1.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

