footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    margin-top: auto;
    padding-bottom: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: max-content;
    margin: auto;
    padding: 0 20px;
}

.footer-content div {
    flex: 1;
    margin: 10px;
}

.footer-content h3 {
    margin-bottom: 15px;
}

.footer-content input, .footer-content button {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.footer-content button {
    background-color: #555;
    color: white;
    cursor: pointer;
}