*::after,
*::before
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    margin-top: auto;
    padding: 20px 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: max-content;
    margin: auto;
    padding: 10px 20px 10px;
}

.footer-content div {
    flex: 1;
    margin: 10px;
}

.footer-content h3 {
    margin-bottom: 15px;
}

.footer-content input, .footer-content button {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.footer-content button {
    background-color: #555;
    color: white;
    cursor: pointer;
}


/* QUIENES SOMOS LINK */
.footer-content a:link{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.footer-content a:visited{
    color: rgb(255, 255, 255);
    opacity: 10%;
    text-decoration: none;
    
}

.footer-content a:hover{
    color: rgb(143, 214, 121);
    text-decoration: underline;
}